<tr id="animal-<%= animal.id %>">
  <td class="col-md-2"><%= animal.identificador %></td>
  <td class="col-md-2"><%= animal.especie.nome %></td>
  <td class="col-md-2"><%= animal.genero.text %></td>
  <td class="col-md-2"><%= animal.recinto&.nome %></td>
  <td class="col-md-2"><%= animal.status.text %></td>
  <td class="col-md-2">
    <%= link_to historicos_animal_path(animal), style: "color: #2C2C2C;" , target: "_blank" do %>
      <i class="fa-solid fa-file-medical icon-custom"></i>
    <% end %>
  </td>
  <td>
    <div class="dropdown">
      <i class="fa-solid fa-ellipsis none-dropdown-toggle icon-custom" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="float: right"></i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% if animal.ativo? %>
          <%= link_to "Editar", edit_animal_path(animal), data: { turbo: false, controller: "animal-modal" }, class: "dropdown-item small-font" %>
          <%= link_to "Atualizar status", edit_status_animal_path(animal), data: { turbo: false, controller: "animal-status-modal" }, class: "dropdown-item small-font" %>
          <%= link_to "Inativar cadastro", activation_animal_path(animal, ativo: false), data: { turbo_method: :patch, turbo_confirm: "Tem certeza que deseja inativar este animal?" }, class: "dropdown-item small-font" %>
        <% else %>
          <%= link_to "Ativar cadastro", activation_animal_path(animal, ativo: true), data: { turbo_method: :patch }, class: "dropdown-item small-font" %>
        <% end %>
        <%= link_to "Excluir cadastro", animal_path(animal), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este animal?" }, class: "dropdown-item small-font" %>
      </ul>
    </div>
  </td>
</tr>