<%= form_with model: recinto, id: "recinto_form", data: { turbo_frame: "_top" } do |form| %>
  <div class="modal-body">
    <% if recinto.errors.present? %>
      <div class="alert alert-danger" role="alert">
        <% recinto.errors.full_messages.each do |message| %>
          <span class="small-font"><%= message %></span><br>
        <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="form-group col-md-5">
        <%= form.label :nome, class: "small-font font-weight-bold" %>
        <%= form.text_field :nome, class: "form-control small-font" %>
      </div>
      <div class="form-group col-md-5">
        <%= form.label :tipo, class: "small-font font-weight-bold" %>
        <%= form.select :tipo, Recinto.tipo.options, {}, { class: "form-control small-font" } %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary small-font" data-bs-dismiss="modal">Cancelar</button>
    <%= form.submit "Salvar", class: "btn btn-default small-font", data: { action: "click->bs-modal#submitEnd" } %>
  </div>
<% end %>