<tr id="recinto-<%= recinto.id %>">
  <td class="col-md-3"><%= recinto.nome %></td>
  <td class="col-md-3"><%= recinto.tipo.text %></td>
  <td>
    <div class="dropdown">
      <i class="fas fa-regular fa-pen-to-square dropdown-toggle icon-custom" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="float: right"></i>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "Editar", edit_recinto_path(recinto), data: { turbo: false, controller: "recinto-modal" }, class: "dropdown-item small-font" %>
        <%= link_to "Excluir", recinto_path(recinto), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este recinto?" }, class: "dropdown-item small-font" %>
      </ul>
    </div>
  </td>
</tr>