<%= form_with model: animal, url: animais_atualizacoes_status_path(animal), id: "animal_status_form", data: { turbo_frame: "_top" } do |form| %>
  <div class="modal-body">
    <% if animal.errors.present? %>
      <div class="alert alert-danger" role="alert">
        <% animal.errors.full_messages.each do |message| %>
          <span class="small-font"><%= message %></span><br>
        <% end %>
      </div>
    <% end %>
    <div class="row mt-2">
      <div class="form-group col-md-5">
        <%= form.label :status, class: "small-font font-weight-bold" %>
        <%= form.select :status, Animal.status.options, { selected: animal.status }, { class: "form-select small-font" } %>
      </div>
      <div class="form-group col-md-5">
        <%= form.label :recinto, class: "small-font font-weight-bold" %>
        <%= form.collection_select :recinto_id, Recinto.all, :id, :nome, {}, { class: "form-select small-font" } %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="form-group col-md-5">
        <%= form.label :observacoes, class: "small-font font-weight-bold" %>
         <%= form.text_area :observacoes, class: "form-control small-font" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary small-font" data-bs-dismiss="modal">Cancelar</button>
    <%= form.submit "Salvar", class: "btn btn-default small-font", data: { action: "click->bs-modal#submitEnd" } %>
  </div>
<% end %>
