<% if Current.session.present? && Current.user.present? %>
  <nav class="navbar navbar-expand bg-white">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-link mid-font default-color font-weight-bold unclickable" style="padding-left: 0" href="#">Prontuário Veterinário</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle default-color mid-font font-weight-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Controle de Animais
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Animais", animais_path, class: "dropdown-item navbar-drop-item small-font" %>
            <%= link_to "Espécies", especies_path, class: "dropdown-item navbar-drop-item small-font" %>
            <%= link_to "Recintos", recintos_path, class: "dropdown-item navbar-drop-item small-font" %>
          </ul>
        </div>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle default-color mid-font font-weight-bold" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user icon-custom"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
            <%= link_to "Editar senha", edit_password_path(Current.user), class: "dropdown-item navbar-drop-item small-font" %>
            <%= link_to Current.session, data: { turbo_method: :delete }, class: "dropdown-item navbar-drop-item small-font" do %>
              Sair
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<% end %>
